body
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
section
{
    background-color: white;
}


/*--header--*/
.hero
{
    background-image: linear-gradient(rgba(19, 18, 18, 0.1), rgba(58, 48, 48, 0.1)),
    url('./image/dirk-von-loen-wagner-Hrmayke-v8g-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    color: white;
    font-size: 40px;
}

.hero-text
{
    margin-left: 80px;
    margin-bottom: 200px;
}

.hero-area
{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

footer
{
    background-color: #0f2324;
    color: white;
    text-align: center;
    padding: 80px;
}

nav
{
    display: flex;
    justify-content: space-between;
}

ul
{
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

ul.show
{
    display: block;
}

li
{
    text-decoration: none;
}

h1
{
    font-size: 80px;
    font-weight: 500;
    margin: 0;
}

p
{
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}
 
.subtext
{
    font-size: 15px;
    font-weight: 300;
}


.social
{
    padding-bottom: 200px;
}

.button
{
    width: 200px;
    height: 55px;
    border-radius: 30px;
    background-color: black;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 6px;
    margin-top: 20px;
    transition: all 0.2s;
    border: 1px solid  var(--black);
}


.button:hover
{
    background-color: rgb(84, 79, 79);
}

.button:active {
    background-color: rgb(84, 79, 79);
    color: rgb(84, 79, 79);
}

.button::after
{
    display: none;
}


.button:focus {
    outline: none;
}

.button::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    background: var(--white);
    height: 100%;
    z-index: -1;
    transition: all 0.2s cubic-bezier(1, 0.68, 0.16, 0.9);
}

.button:hover
{
    background: rgb(24, 21, 21);
}


.sociallogo
{
    margin: 20px;
}


.projectcard
{
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px rgb(181, 177, 177);
    margin: 10px;
}

.sub-section2
{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.tempatproject
{
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px)
{
    .tempatproject
    {
        display: flex;
        flex-wrap: wrap;

    }
}

.projectfoto
{
    margin-top: 25px;
    width: 250px;
    border-radius: 125px;
}

hr
{
    margin-left: 20px;
    margin-right: 20px;
}

.projectlink
{
    text-decoration: none;
    color: #808080;
}

a
{
    text-decoration: none;
    color: white;
}

/*--navigasi--*/

.nav {
    display: flex;
    justify-content: flex-end;
    padding: var(--gutter-normal) 0;
}

.nav__items {
    display: flex;
    list-style: none;
}

.nav__item:not(:last-child) {
    margin-right: var(--gutter-medium);
}

@media(max-width: 700px) {
    .nav {
        justify-content: center;
    }
}

@media(max-width: 600px) {
    .nav__item:not(:last-child) {
        margin-right: var(--gutter-normal);
    }
}

@media(max-width: 500px) {
    .nav {
        font-size: var(--font-size-small);
    }
}

.nav__link {
    position: relative;
    display: inline-block;
    padding: 1rem 0;
    text-decoration: none;
    color: inherit;
    transition: all .10s;
}


.nav__link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    display: inline-block;
    height: 1rem;
    background: var(--white);
    transition: all 0.25s cubic-bezier(0.78, 0.68, 0.16, 0.9);
}


.nav__link:hover {
    color: var(--white);
}

.nav__link:hover::after {
    right: 0;
    height: 2px;
    background: var(--white);
}

/*--basic-info--*/
:root {
    
    --black: #000;
    --pink: #ff3258;
    --white: #fcfbfc;

    --border-light: 1px solid rgb(36, 35, 35);
}

/*--scroll--*/
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*-- Back to Top --*/

.back-to-top {
    position:fixed;
    bottom: 2.5rem;
    right: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.5rem;
    width: 6.5rem;
    border-radius: 50%;
    z-index: 10;
    visibility: hidden;
    transition: all .4s;
}

.back-to-top__image {
    height: 80%;
}

@media(max-width: 500px) {
    .back-to-top {
        right: 2rem;
    }
}

@media(max-width: 500px) {
    .back-to-top {
        right: 1rem;
    }
}

/*--about--*/


.btn
{
    border-bottom-style: solid;
    border-bottom-color: black;
    width: 300px;
    height: 55px;
    font-size: 30px;
    font-weight: 250;
    color: black;
}

.btn:hover
{
    width: 300px;
    height: 100px;
    font-size: 40px;
}

.btn:active {
    color: #808080;
}

h2
{
    font-size: 50px;
    margin-top: 0;
}

.sub-section
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 80px;
}

@media(max-width: 900px)
{
    .sub-section
    {
        flex-direction:column-reverse;
        align-items: initial;
        justify-content: space-around;
        padding: 80px;
    }

    h2
    {
        font-size: 30px;
        margin-top: 0;
    }
}


.foto
{
    width: 300px;
    border-radius: 150px;
    margin-left: 80px;
}

@media(min-width: 900) {
    .text {
        flex: 0 0 35%;
    }
    
    .foto
    {
        width: 300px;
        border-radius: 150px;
        margin-left: 80px;
    }

    .tempat-foto
    {
        display: flex;
        align-items: center;
    }
}
